In [13]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import hvplot.pandas
%matplotlib inline

In [45]:
df = pd.read_csv('clean_data.csv')
df = df.drop(['Unnamed: 0','high_quality'],axis=1)
df.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,white
0,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.0010,3.00,0.45,8.8,6,1
1,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.9940,3.30,0.49,9.5,6,1
2,8.1,0.28,0.40,6.9,0.050,30.0,97.0,0.9951,3.26,0.44,10.1,6,1
3,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6,1
4,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6,1

In [46]:
X = df.drop('quality',axis=1)
y = df['quality']

In [84]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

In [92]:
scaler = StandardScaler()
scaler.fit(X)
X = scaler.transform(X)
X

array([[-0.1671586 , -0.4235636 ,  0.28424515, ..., -0.5459591 ,
        -1.41855821,  0.57136659],
       [-0.70742728, -0.24123152,  0.14652315, ..., -0.27706392,
        -0.83161516,  0.57136659],
       [ 0.68183504, -0.36278624,  0.55968916, ..., -0.6131829 ,
        -0.32852111,  0.57136659],
       ...,
       [-0.70742728,  1.03509307, -1.2995579 , ...,  1.47075478,
         0.42611996, -1.75018984],
       [-1.01615224,  1.85558744, -1.3684189 , ...,  1.2018596 ,
        -0.2446721 , -1.75018984],
       [-0.938971  , -0.18045416,  1.04171618, ...,  0.86574062,
         0.42611996, -1.75018984]])

In [97]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.25, random_state=43)

In [99]:
from sklearn.linear_model import LinearRegression

model.fit(X_train,y_train)
predictions = model.predict(X_test)

In [103]:
Results = y_test.to_frame()
Results["Predicted Quality"] = predictions

Results[:20]

      quality  Predicted Quality
4708        6           5.803365
968         7           6.753756
1948        7           5.808616
4805        6           5.388706
2126        5           5.172846
2497        5           5.712405
6121        6           6.477585
3405        6           5.786843
797         6           5.964111
5525        5           4.899725
4405        5           5.419822
6034        6           5.922891
5069        6           5.377708
3258        6           5.696286
4584        6           5.895822
2214        5           5.989072
3499        7           6.599287
4950        6           5.460302
6048        7           6.754145
4913        5           5.302805

In [104]:
# Relevant metrics - score, r2, mse, rmse, std
from sklearn.metrics import mean_squared_error, r2_score
import numpy as np

score = model.score(X_test,y_test)
r2 = r2_score(y_test, predictions)
mse = mean_squared_error(y_test, predictions)
rmse = np.sqrt(mse)
std = np.std(y)

In [105]:
# Print releveant metrics.
print(f"The score is {score}.")
print(f"The r2 is {r2}.")
print(f"The mean squared error is {mse}.")
print(f"The root mean squared error is {rmse}.")
print(f"The standard deviation is {std}.")

The score is 0.28027117863462714.
The r2 is 0.28027117863462714.
The mean squared error is 0.5341424264033834.
The root mean squared error is 0.7308504815647202.
The standard deviation is 0.8731880644450458.

In [106]:
y_test.shape

(1625,)

In [108]:
predictions.shape

(1625,)

In [109]:
#plt.scatter(y_test, predictions)